@charset 'UTF-8';

/*
GENERAL STYLING
================================================ */
:root {
    --text-color: #190707;
    --background-color: #A9D0F5;
    --yellow-color: #3498f5c0;
}
    
html {
    font-size: 100%;
    /* 스무스 스크롤 */
    scroll-behavior: smooth;
}
body {
    margin: 0;
	font-family: sans-serif;
    font-family: 'pt sans';
}
a {
    text-decoration: none;
    color: var(--text-color);
    
}
li {
    text-decoration: none;
    color: var(--text-color);
}
.nav_wrapper{
    width: 1900px;
    margin: 0 auto;
}
.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--background-color);
    padding: 8px 12px;
    position: relative;
    z-index: 1;
}
body, ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}

/*
nav
================================================ */
#nev {
    width: 100%;
}
#nev::after{
    content: "";
    display: block;
    clear: both;
}
.nav_header > ul ul{
    display: none;
}
:root{
    --site-width:1200px;
}

.nav_logo {
    font-size: 24px;
    color: var(--text-color);
}

.main_menu{
    display: flex;
    list-style: none;
    padding-left: 0;
    font-size: 30px;
    font-weight: 900;
    cursor:pointer;
    justify-content: space-between;

}
.main_menu li {
    position: relative;
    float: left;
    text-align: center;
    background-color: #A9D0F5;
    padding: 0px 40px;
    transition: all ease 1.5s 0s;
}

.main_menu li:hover {
    background-color: var(--yellow-color);
    border-radius: 10px;
    display: block;
}
    
.sea {
    width: 600px;
    height: 380px;
    background-color: #A9D0F5;
    margin-left: 60%;
    margin-top: -410px; 
    text-align: center;
    
}

.sea_table {
    margin: 1px;
    
}
.sea_table h3 {
    font-size: 30px;
    margin-left: 20px;
    padding: 4px;
}
.sea_table li {
    margin-right: 60%;
}
.sea_table2 li{
    margin-left: 50%;
    margin-top: -34.8%;
}
.sea_table2 h3{
    font-size: 30px;
}

.search {
    position: relative;
    width: 300px;
  }
  
  input {
    width: 100%;
    border: 1px solid #bbb;
    border-radius: 8px;
    padding: 10px 12px;
    font-size: 14px;
  }
  




  
  .container {
    width: 60%;
    margin-left: 100px;
    
  }


  /*
  =================
  Bar Graph 
  ================
  */
  .bar-graph-container {
    border-left: 4px solid #000;
    border-bottom: 4px solid #000; 
    width: 60%;
    overflow: hidden;
  
  }
  
  .bar-graph-container p {
    padding: 20px;
    color: #fff;
  }
  
  @-webkit-keyframes slide-left {
     0% {
       -webkit-transform: translateX(-200%);
    }
    70% {
      -webkit-transform: translateX(2%);
    }
    100% {
      -webkit-transform: translateX(0);
    }
  }
  
  @keyframes slide-left {
    0% {
      -webkit-transform: translateX(-200%);
    }
    
    70% {
      -webkit-transform: translateX(2%);
    }
    
    100% {
      -webkit-transform: translateX(0);
    }
  }
  
  .bar-container {
       background-color: rgba(231, 184, 239, 0.6);   
  }
  
  .html {
    width: 85%;
    background-color: #a378aa;
    animation: slide-left 0.9s ease-in-out 1s both;
    -webkit-animation: slide-left 0.9s ease-in-out 1s both;
    animation-delay: 0.1s;
    -webkit-animation-delay: 0.1s;
  }
  
  .css {
    width: 80%;
    background-color: #a378aa;
    animation: slide-left 1s ease-in-out 1s both;
   -webkit-animation: slide-left 1s ease-in-out 1s both;
     animation-delay: 0.2s;
    -webkit-animation-delay: 0.2s;
  }
  
  .js {
    width: 60%;
    background-color: #a378aa;
    animation: slide-left 1s ease-in-out 1s both;
    -webkit-animation: slide-left 1s ease-in-out 1s both;
     animation-delay: 0.3s;
    -webkit-animation-delay: 0.3s;
  }
  
  .php {
    width: 40%;
    background-color: #a378aa;
    animation: slide-left 1s ease-in-out 1s both;
    -webkit-animation: slide-left 1s ease-in-out 1s both;
     animation-delay: 0.2s;
    -webkit-animation-delay: 0.2s;
  }
  
  .drupal {
    width: 62%;
    background-color: #a378aa;
    animation: slide-left 1s ease-in-out 1s both;
    -webkit-animation: slide-left 1s ease-in-out 1s both;
     animation-delay: 0.1s;
    -webkit-animation-delay: 0.1s;
  }





